CREATE DATABASE BHYTDashboardDb

USE [BHYTDashboardDb]
GO
/****** Object:  Table [dbo].[ChiTietDVKT]    Script Date: 23/03/2026 10:23:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDVKT](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaLK] [nvarchar](100) NOT NULL,
	[MaDichVu] [nvarchar](50) NULL,
	[TenDichVu] [nvarchar](500) NULL,
	[MaVatTu] [nvarchar](50) NULL,
	[TenVatTu] [nvarchar](500) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [int] NULL,
	[ThanhTien] [int] NULL,
	[MaNhomChiPhi] [nvarchar](10) NULL,
	[MaKhoa] [nvarchar](50) NULL,
	[MaBacSi] [nvarchar](50) NULL,
	[NgayYLenh] [int] NULL,
	[NgayKetQua] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietThuoc]    Script Date: 23/03/2026 10:23:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietThuoc](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaLK] [nvarchar](100) NOT NULL,
	[MaThuoc] [nvarchar](50) NULL,
	[TenThuoc] [nvarchar](500) NULL,
	[DonViTinh] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [int] NULL,
	[ThanhTien] [int] NULL,
	[TyLeThanhToan] [int] NULL,
	[MaNhomChiPhi] [nvarchar](10) NULL,
	[MaKhoa] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucDoiTuong]    Script Date: 23/03/2026 10:23:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucDoiTuong](
	[MaDoiTuong] [nvarchar](10) NOT NULL,
	[TenDoiTuong] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDoiTuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucICD10]    Script Date: 23/03/2026 10:23:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucICD10](
	[MaICD] [nvarchar](10) NOT NULL,
	[TenBenh] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaICD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucNhomChiPhi]    Script Date: 23/03/2026 10:23:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucNhomChiPhi](
	[MaNhomChiPhi] [nvarchar](10) NOT NULL,
	[TenNhomChiPhi] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhomChiPhi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoSoBenhNhan]    Script Date: 23/03/2026 10:23:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoSoBenhNhan](
	[MaLK] [nvarchar](100) NOT NULL,
	[MaBN] [nvarchar](100) NOT NULL,
	[HoTen] [nvarchar](255) NOT NULL,
	[NgaySinh] [int] NOT NULL,
	[GioiTinh] [int] NOT NULL,
	[DiaChi] [nvarchar](1024) NULL,
	[MaTheBHYT] [nvarchar](50) NULL,
	[MaDoiTuong] [nvarchar](10) NULL,
	[NgayVao] [int] NOT NULL,
	[NgayRa] [int] NOT NULL,
	[ChanDoanVao] [nvarchar](500) NULL,
	[ChanDoanRa] [nvarchar](500) NULL,
	[MaBenhChinh] [nvarchar](10) NULL,
	[MaCSKCB] [nvarchar](10) NULL,
	[MaKhoa] [nvarchar](50) NULL,
	[TongChiPhi] [int] NULL,
	[TongBHChiTra] [int] NULL,
	[TongBenhNhanTra] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietDVKT]  WITH CHECK ADD FOREIGN KEY([MaNhomChiPhi])
REFERENCES [dbo].[DanhMucNhomChiPhi] ([MaNhomChiPhi])
GO
ALTER TABLE [dbo].[ChiTietDVKT]  WITH CHECK ADD FOREIGN KEY([MaLK])
REFERENCES [dbo].[HoSoBenhNhan] ([MaLK])
GO
ALTER TABLE [dbo].[ChiTietThuoc]  WITH CHECK ADD FOREIGN KEY([MaNhomChiPhi])
REFERENCES [dbo].[DanhMucNhomChiPhi] ([MaNhomChiPhi])
GO
ALTER TABLE [dbo].[ChiTietThuoc]  WITH CHECK ADD FOREIGN KEY([MaLK])
REFERENCES [dbo].[HoSoBenhNhan] ([MaLK])
GO
ALTER TABLE [dbo].[HoSoBenhNhan]  WITH CHECK ADD FOREIGN KEY([MaBenhChinh])
REFERENCES [dbo].[DanhMucICD10] ([MaICD])
GO
ALTER TABLE [dbo].[HoSoBenhNhan]  WITH CHECK ADD FOREIGN KEY([MaDoiTuong])
REFERENCES [dbo].[DanhMucDoiTuong] ([MaDoiTuong])
GO
